.name {
    text-decoration: underline;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    min-width: 400px;

}

input:required {
    background-color: red;
}

fieldset {
    background-color: lightgray;
    padding: 1rem;
    border: 5px black;
}
fieldset:hover{
    background-color: gray;
}
.send {
    background-color: black;
    color: white;
    border: 0;
}