body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
header {
    margin: 0;
    height: 300px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ih {
    margin: 45px
}
.container{
    margin: 0 30px
}
h3 {
    color: gray;
    padding: 5px;
}
img{
    height: 220px;
}
.separador {
    margin: 15px;
    border-bottom: 5px gray;
}
form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    flex-grow: 1;

}
h3 {
    border-bottom: solid 1px gray;
}
label {
    margin: 10px;
}
input, textarea {
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-grow: 1;
}

.submit {
    background-color: black;
    color: white;
}

@media (min-width: 550px) {
.containerflex {
    display: flex;
    flex-direction: row-reverse;
}
}