.list li:last-child {
    background-color: rgb(0, 0, 255);
}
.list li:nth-child(odd){
    text-decoration: underline green;
}
.list {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.list {
    list-style-type: none;
}

.list li {
    margin: 0 5px;
}

.list li::after {
    content: "🕴️";
}

li:lang(en) {
    font-size: 16px;
    text-transform: uppercase;
}

#provincias {
    list-style-type:lower-roman;
}

#provincias li:nth-child(2){
    list-style: none;
}
